@model NewCustomerCheck.Controllers.TaoBaoController.TaoBaoDetailModel
@{
    ViewData["Title"] = Model.ActivityName + "淘宝线下明细查询";
}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>淘宝接口 —— @Model.ActivityName</h3>
            </div>

            <div class="title_right">

            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>查询明细数据 <small>请选择日期，并获得点击查询</small></h2>
                        <ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form asp-action="Detail" class="form-horizontal form-label-left" method="get">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    日期
                                </label>
                                <input asp-for="ActivityID" hidden="hidden" />
                                <input asp-for="NoSearch" value="false" hidden="hidden" />
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="input-prepend input-group">
                                        <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                        <input type="text" style="width: 200px" asp-for="FirstDate" id="reservation" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        @if (Model.NoSearch)
        {
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button class="close" aria-label="Close" type="button" data-dismiss="alert">
                    <span aria-hidden="true">×</span>
                </button>
                <strong>由于数据过多，可能速度稍慢！</strong> 请耐心等待
            </div>
        }

        <div class="clearfix"></div>
        @if (!Model.NoData && !Model.NoSearch)
        {
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>淘宝线下总数据 <small>@Model.ActivityName</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">Settings 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p class="text-muted font-13 m-b-30">
                                点击下面三个按钮可生成文件下载
                            </p>
                            <table id="datatable-buttons" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>新注册时间</th>
                                        <th>新激活时间</th>
                                        <th>首购时间</th>
                                        <th>新人状态(1: 新注册，2:激活，3:首购，4:确认收货)</th>
                                        <th>新人手机号</th>
                                        <th>日期</th>
                                        <th>绑卡时间</th>
                                        <th>是否绑卡（1是，0否）</th>
                                        <th>使用权益时间</th>
                                        <th>领取权益时间</th>
                                        <th>渠道ID</th>
                                        <th>复购佣金</th>
                                        <th>分享用户</th>
                                        <th>来源媒体ID</th>
                                        <th>来源广告位ID</th>
                                        <th>淘宝订单ID</th>
                                    </tr>
                                </thead>


                                <tbody>
                                    @foreach (var item in Model.DataModels)
                                    {
                                    <tr>
                                        <td>@item.RegisterTime</td>
                                        <td>@item.BindTime</td>
                                        <td>@item.BuyTime</td>
                                        <td>@item.Status</td>
                                        <td>@item.Mobile</td>
                                        <td>@item.BizDate</td>
                                        <td>@item.BindCardTime</td>
                                        <td>@item.IsCardSave</td>
                                        <td>@item.UseRightsTime</td>
                                        <td>@item.GetRightsTime</td>
                                        <td>@item.RelationId</td>
                                        @{
                                            decimal allcom = 0;
                                            if (item.Orders != null)
                                            {
                                                foreach (var order in item.Orders)
                                                {
                                                    decimal money;
                                                    decimal.TryParse(order.Commission, out money);
                                                    allcom += money;
                                                }
                                            }

                                            <td>@allcom</td>
                                        }
                                        <td>@item.UnionId</td>
                                        <td>@item.MemberId</td>
                                        <td>@item.AdzoneId</td>
                                        <td>@item.TbTradeParentId</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (!Model.NoSearch)
        {
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button class="close" aria-label="Close" type="button" data-dismiss="alert">
                    <span aria-hidden="true">×</span>
                </button>
                <strong>没有数据！</strong> 请选择其他活动
            </div>
        }

    </div>
</div>
<!-- /page content -->
